/* A floatting menu at the top left */
#menu {
    float: left;
    position: absolute;
    left: 50px;
}
.menu {
    color: white;
    padding-right: 20px;
}

/* Floatting flags at the top right for the langage choice */
#lang {
    float: right;
    position: absolute;
    right: 50px;
}
.skill_active_false {
    background-color: lightgrey;
}

/* Lists bullet points are inside the div (so that floatting images can push them) */
ul, ol {
    list-style-position: inside;
}

/* Dark Theme */
#dark_theme_btn {
    float:right;
    position: fixed;
    top: 100px;
    left: 10px;
}
body {
    transition: background 0.5s ease-in, color 0.51s ease-in;
}
.dark-mode {
    color: white;
    background: black;
}
/* For the "about me" cards */
.card {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}
/* For next and previous links in experiences */
.PageNavigation {

    font-size: 14px;
    display: block;
    width: auto;
    overflow: hidden;
    margin-top: 50px;
}
  
.PageNavigation a {
    display: block;
    width: 50%;
    float: left;
    margin: 1em 0;
}

.PageNavigation .next {
    text-align: right;
}